<section class="Homepage-Header">
 <p style="font-size:40px; color: mintcream">  Hey,there welcome to cafeteria restaurant:) Taste the items according to your choice & we are here to deliver delicious FoodItems</p>
</section>
